-# Using custom tags and CSS to show/hide conditional text
- if @person.marital_status == "I am married."
  :scss
    married { display: inline; }
- else
  :scss
    single { display: inline; }
	
- if @person.singleorco == "Single trustees"
  :scss
    alone { display: inline; }
- else
  :scss
    co { display: inline; }
	
- if @person.lumporseries == "In a lump sum."
  :scss
    lump { display: inline; }
- else
  :scss
    series { display: inline; }
	
- if @person.gender == "Male"
  :scss
    male { display: inline; }
- else
  :scss
    female { display: inline; }	
	
-# Conditional Blocks
- if @person.trusteenumber == "One"
  I name #{@person.spouse_name} as my personal representative. If #{@person.spouse_name} is unable or unwilling to serve, I name #{@person.trusteetheone} as my personal representative. If #{@person.trusteetheone} is unable or unwilling to serve, then I name the person whom the majority of the beneficiaries under this Will choose or whomever the court deems fit to be my personal representative.

- elsif @person.trusteenumber == "Two"
  <married>I name #{@person.spouse_name} as my personal representative. If #{@person.spouse_name} is unable or unwilling to serve, I name <co>#{@person.trusteetheone} and #{@person.trusteethesecond} as my successor co-personal representatives. If either #{@person.trusteetheone} or #{@person.trusteethesecond} is unable or unwilling to serve, I name the other as my sole successor personal representative. If neither #{@person.trusteetheone} nor #{@person.trusteethesecond} is able or willing to serve, then I name the person whom the majority of the beneficiaries under this Will choose or whomever the court deems fit to be my personal representative.</co><alone>#{@person.trusteetheone} as my personal representative. If #{@person.trusteetheone} is unable or unwilling to serve, then I name #{@person.trusteethesecond} as my personal representative. If #{@person.trusteethesecond} is unable or unwilling to serve, then I name the person whom the majority of the beneficiaries under this Will choose or whomever the court deems fit to be my personal representative.</alone></married><single>I name #{@person.trusteetheone} as my personal representative. If #{@person.trusteetheone} is unable or unwilling to serve, then I name #{@person.trusteethesecond} as my personal representative. If #{@person.trusteethesecond} is unable or unwilling to serve, then I name the person whom the majority of the beneficiaries under this Will choose or whomever the court deems fit to be my personal representative. If a guardian for one or more of my children is needed, I direct that my personal representative also serve as their guardian.</single>

- if @person.trusteenumber == "Three" && @person.co2_3 == "Yes"
  <married>I name #{@person.spouse_name} as my personal representative. If #{@person.spouse_name} is unable or unwilling to serve, I name #{@person.trusteetheone} as my successor personal representative. If #{@person.trusteetheone} is unable or unwilling to serve, I name #{@person.trusteethesecond} and #{@person.trusteethethird} as my successor co-personal representatives. If either #{@person.trusteethesecond} or #{@person.trusteethethird} is unable or unwilling to serve, I name the other as my sole successor personal representative. If neither #{@person.trusteethesecond} nor #{@person.trusteethethird} is able or willing to serve, then I name the person whom the majority of the beneficiaries under this Will choose or whomever the court deems fit to be my personal representative.

- elsif @person.trusteenumber == "Three"
  I name #{@person.trusteetheone} as my personal representative. If #{@person.trusteetheone} is unable or unwilling to serve, then I name #{@person.trusteethesecond} and #{@person.trusteethethird} as my co-personal representative. If either co-personal representative is unable or unwilling to serve, I name the other co-personal representatives to serve alone. If neither co-personal representative is able or willing to serve, then I name the person whom the majority of the beneficiaries under this Will choose or whomever the court deems fit to be my personal representative. If a guardian for one or more of my children is needed, I direct that my personal representative also serve as their guardian.
  
  

- elsif @person.trusteenumber == "Four"
  If neither of us can serve as trustee because of resignation, incapacity, or death, we name #{@person.trustee.single_successor_trustee} as our successor trustee. If #{@person.trustee.single_successor_trustee} is unable or unwilling to serve, we name #{@person.trustee.second_successor_trustee} as our successor trustee. If #{@person.trustee.second_successor_trustee} is unable or unwilling to serve, we name #{@person.trustee.third_successor_trustee} as our successor trustee. If #{@person.trustee.third_successor_trustee} is unable or unwilling to serve, we name #{@person.trustee.fourth_successor_trustee} as our successor trustee. If #{@person.trustee.fourth_successor_trustee} is unable or unwilling to serve, then I name the person whom the majority of the beneficiaries under this Will choose or whomever the court deems fit to be my personal representative.



-# I name #{@person.spouse_name} as my personal representative. If #{@person.spouse_name} is unable or unwilling to serve, I name #{@person.trusteetheone} as my personal representative. If #{@person.trusteetheone} is unable or unwilling to serve, then I name #{@person.trusteethesecond} as my personal representative. If #{@person.trusteethesecond} is unable or unwilling to serve, I name #{@person.trusteethethird} as my personal representative. If #{@person.trusteethethird} is unable or unwilling to serve, then I name the person whom the majority of the beneficiaries under this Will choose or whomever the court deems fit to be my personal representative. If a guardian for one or more of my children is needed, I direct that my personal representative also serve as their guardian.






